
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .container{
    background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    position: sticky;
    top: 0;
    justify-content:flex-start;
    align-items: center;
    height: 10vh;
    color: white;
}
.navbar .logo {
    margin-left: 3rem;
}
.navbar .logo div{
    font-size:32px;
    display: inline-block;
}
.navbar .logo .logo-img img{
    border-radius: 50%;
    position: relative;
    top: 10px;
}
.navbar .logo .logo-name{
    margin-bottom: 21px;
    color: black;
}
.navbar li{
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    font-weight:600;
}
.navbar li a{
    color: black;
    text-decoration: none;
}

.main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 75vh;

}
.main .info{
    margin: 50px;
    max-width: 500px;
}
.main .info  .title{
      font-weight:600;
      font-size: 32px;
}
.main .info p{
    font-size: 20px;
    margin: 5px;
}
.main span{
    background-color:rgb(114, 137, 218) ;
    border-radius: 12px;
    padding: 5px;
}
@keyframes fade{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.main .images img{
    width: 600px;
    height: 400px;
    margin: 50px;
    border-radius: 16px;
    
}
.btn{
        position: relative;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        color: white;
        background-color: #262525;
        border: none;
        padding: 20px;
        margin-top: 32px;
        width: 200px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
    }
.btn:hover{
        background:#fff;
        box-shadow:0px 2px 10px 5px rgb(114, 137, 218);
        color:#000;
     }
.footer{
    position: relative;
    text-align: center;
}
.footer img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 30px;
    }
.footer img:hover {
        box-shadow: 0 4px 30px rgba(255, 255, 255, 1);
    }