@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&family=Tiro+Telugu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(../media/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-left: auto;
    margin-top: 3rem;
    margin-right: 0;

}
.logo img{
    border-radius: 50%;
}
.logo p{
    font-size: large;
    font-weight: 600;
}
.bar{
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    margin-top: 3rem;
    margin-left: 2rem;
  }
  .bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }
  .searchbar{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
    
  }
  hr{
    margin-top: 3rem;
    font-weight: 100;
  }
.data{ 
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    margin-left: 25%; 
    padding: 2%;
    background-color: #f2f2f2;  
    border-radius: 12px;
    margin-top: 2%;  
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
.day-and-date {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5%;
    font-weight:bold;
    
}
.day-and-date h5{
    font-weight: lighter;
    color: red;
}

.temp{
    display: flex;
    font-size: 32px;
    font-weight:bolder;
    flex-flow: row-reverse;
    margin-right: 5%;
}
.weather-status{
    margin: 5%;
    font-weight:bold;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 10px;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    margin: 50px;
    border-radius: 16px;
}
.grid-item{
      font-family: 'Open Sans', sans-serif;
      font-size: 32px;
      font-weight:500;
      color: black;
}
.grid-item .title{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;  
}
.grid-item span{
    font-size: 24px;
    font-weight: 600;
}
